<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/project/css/index.css" rel="stylesheet">
</head>

<body>
    <div class="main ui-layout">
        <div class="ui-slider">

        </div>
        <div class="ui-layout">
            <div class="layout-header">

            </div>
            <div class="layout-content main-content">
                <div class="tag-nav-wrapper">
                    <div class="tags-nav">
                        <div class="close-con"></div>
                        <ul class="contextmenu">
                            <li>关闭所有</li>
                            <li>关闭其他</li>
                        </ul>
                        <div class="left-btn"></div>
                        <div class="right-btn"></div>
                        <div class="scroll-outer"></div>
                    </div>
                </div>
                <div lass="layout-content">
                    <iframe src="" name="testIframe"></iframe></div>

            </div>

        </div>

    </div>
    <script src="/static/project/js/index.js">
    </script>
</body>

</html>