  html {
      width: 100%;
      font-family: DIN-Regular;
  }
  
  .fs-14 {
      font-size: 14px;
  }
  
  .fs-22 {
      font-size: 22px;
  }
  
  .chart-container {
      min-width: 700px;
  }
  
  .mr-60 {
      margin-right: 60px;
  }
  
  .chart-real-head {
      width: 100%;
      height: 60px;
      padding: 2px 5px;
      display: block;
      position: relative;
      font-size: 12px;
  }
  
  .chart-options {
      float: right;
      position: relative
  }
  
  .base-info {
      float: left;
  }
  
  .down {
      color: rgba(48, 172, 99, 1);
  }
  
  .up {
      color: rgba(247, 48, 75, 1);
  }
  
  .base-info>div {
      line-height: 26px;
  }
  
  .chart-options .hq-type-time {
      display: inline-block;
  }
  
  .chart-options .hq-type-time span {
      display: inline-block;
      cursor: pointer;
      margin: 0px 10px;
      padding: 4px 0px;
      border: 0px none;
      color: rgb(131, 131, 131);
  }
  
  .chart-options .hq-type-time span.active {
      color: #333;
  }
  
  .down .chart-options .hq-type-time span.active {
      color: rgba(48, 172, 99, 1);
  }
  
  .up .chart-options .hq-type-time span.active {
      color: rgba(247, 48, 75, 1);
  }
  
  .hq-type-fq {
      position: absolute;
      width: 60px;
      right: 0px;
      top: 5px;
      height: 50px;
      display: none;
  }
  
  .hq-type-fq.show-fq {
      display: inline-block;
  }
  
  .hq-type-fq:hover .hq-type-fq-list,
  .hq-type-fq .hq-type-fq-list.show-list {
      display: block;
  }
  
  .hq-type-fq span {
      cursor: pointer;
      margin: 0px 10px;
      display: block;
      border: 0px none;
      color: rgb(131, 131, 131);
  }
  
  .hq-type-fq-list ul,
  .hq-type-fq-list li {
      list-style: none;
      padding: 0px;
      margin: 0px;
  }
  
  .hq-type-fq-list {
      position: absolute;
      width: 100%;
      left: 7px;
      top: 18px;
      display: none;
      z-index: 99999;
  }
  
  .hq-type-fq-list ul {
      color: rgb(131, 131, 131);
      border: 1px solid;
      line-height: 20px;
      margin: 0px;
  }
  
  .hq-type-fq-list li {
      cursor: pointer;
      padding: 0px 7px;
  }
  
  .hq-type-fq-list li:hover,
  .hq-type-fq-list li.active {
      background: #1570e8;
      color: #FFFFFF;
  }
  
  .up-down-rate {
      display: inline-block;
  }
  
  .chart-hq-indicator {
      padding-top: 5px;
  }
  
  .chart-hq-indicator span {
      cursor: pointer;
      color: rgb(131, 131, 131);
      font-size: 12px;
      margin: 0px 10px;
  }
  
  .chart-hq-indicator span.active {
      color: #333;
  }